<h1>User Details</h1>
{{#if msg}}
  <div class="">{{msg}}</div>
{{/if}}
<div class="table_con">
  <table>
    <thead class="sticky-top">
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Interest</th>
      <th>Edit</th>
      <th>Delete</th>
    </thead>
    <tbody>
      {{#each rows}}
        <tr>
          <td>{{this.id}}</td>
          <td>{{this.user}}</td>
          <td>{{this.email}}</td>
          <td>{{this.intereste}}</td>
          <td>
            <a href="/edit_user/{{this.id}}" calss="edit">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                shape-rendering="geometricPrecision"
                text-rendering="geometricPrecision"
                image-rendering="optimizeQuality"
                fill-rule="evenodd"
                clip-rule="evenodd"
                viewBox="0 0 441 512.398"
              >
                <path
                  fill="#262626"
                  fill-rule="nonzero"
                  d="M60.863 0h174.809c3.382 0 6.384 1.619 8.279 4.124l110.107 119.119a10.292 10.292 0 012.745 7.012h.053v119.817a149.591 149.591 0 00-20.752-3.111v-92.212h-43.666v-.042h-.161c-22.046-.349-39.33-6.222-51.694-16.784-12.849-10.979-20.063-26.614-21.504-46.039a10.465 10.465 0 01-.095-1.404V20.752H60.863c-11.02 0-21.049 4.516-28.321 11.79-7.274 7.272-11.79 17.301-11.79 28.321v338.276c0 11.015 4.521 21.037 11.796 28.311 7.278 7.28 17.31 11.802 28.315 11.802h120.749a148.132 148.132 0 008.116 20.752H60.863c-16.73 0-31.958-6.85-42.987-17.881C6.852 431.099 0 415.882 0 399.139V60.863C0 44.114 6.842 28.894 17.87 17.87 28.894 6.842 44.114 0 60.863 0zm41.917 209.516c-5.727 0-10.372-4.645-10.372-10.372 0-5.726 4.645-10.372 10.372-10.372h151.286c5.727 0 10.372 4.646 10.372 10.372 0 5.727-4.645 10.372-10.372 10.372H102.78zm0 72.682c-5.727 0-10.372-4.646-10.372-10.373 0-5.727 4.645-10.372 10.372-10.372h143.27c2.83 0 5.395 1.134 7.265 2.971a149.435 149.435 0 00-25.876 17.774H102.78zm0 72.688c-5.727 0-10.372-4.645-10.372-10.372s4.645-10.372 10.372-10.372h85.566a148.095 148.095 0 00-7.597 20.744H102.78zM239.736 29.983v60.433c1.021 13.737 5.819 24.535 14.302 31.783 8.667 7.404 21.488 11.544 38.4 11.835v-.037h43.442L239.736 29.983z"
                />
                <path
                  fill="#5435AE"
                  d="M324.263 278.924c32.231 0 61.418 13.068 82.544 34.194C427.933 334.242 441 363.429 441 395.66c0 32.235-13.067 61.419-34.193 82.544-21.126 21.126-50.309 34.194-82.544 34.194-32.232 0-61.419-13.068-82.543-34.194-21.125-21.125-34.193-50.313-34.193-82.544 0-32.233 13.068-61.417 34.193-82.542 21.126-21.126 50.31-34.194 82.543-34.194z"
                />
                <path
                  fill="#fff"
                  fill-rule="nonzero"
                  d="M320.41 438.26l-46.037 12.273 6.637-49.409 39.4 37.136zm-29.255-48.355l45.216-51.568a4.17 4.17 0 013.033-1.444c.727-.01 1.444.137 2.087.485l35.07 31.878a3.58 3.58 0 011.138 2.518 3.631 3.631 0 01-1.233 2.824l-46.037 52.442-39.327-37.135h.053z"
                />
                <title>Edit</title>
              </svg>
            </a>
          </td>
          <td>
            <a
              onclick="return confirm('Are you sure you want to delete this User details?')"
              href="/del_user/{{this.id}}"
              class="delete"
            >
              <svg
                id="Layer_1"
                data-name="Layer 1"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 122.88 122.88"
              >
                <defs>
                  <style
                  >.cls-1{fill:#eb0100;}.cls-1,.cls-2{fill-rule:evenodd;}.cls-2{fill:#fff;}</style>
                </defs>
                <title>Delete</title>
                <path
                  class="cls-1"
                  d="M61.44,0A61.44,61.44,0,1,1,0,61.44,61.44,61.44,0,0,1,61.44,0Z"
                />
                <path
                  class="cls-2"
                  d="M35.38,49.72c-2.16-2.13-3.9-3.47-1.19-6.1l8.74-8.53c2.77-2.8,4.39-2.66,7,0L61.68,46.86,73.39,35.15c2.14-2.17,3.47-3.91,6.1-1.2L88,42.69c2.8,2.77,2.66,4.4,0,7L76.27,61.44,88,73.21c2.65,2.58,2.79,4.21,0,7l-8.54,8.74c-2.63,2.71-4,1-6.1-1.19L61.68,76,49.9,87.81c-2.58,2.64-4.2,2.78-7,0l-8.74-8.53c-2.71-2.63-1-4,1.19-6.1L47.1,61.44,35.38,49.72Z"
                />
              </svg>
            </a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<div class="float_add_btn top_2">
  <a href="/add_user" class="material-symbols-outlined">
    add
  </a>
</div>
<div class="float_add_btn top_1">
  <a href="/news" class="material-symbols-outlined">
    Newspaper
  </a>
</div>
<div class="float_add_btn top_3">
  <a href="/viewfeedback" class="material-symbols-outlined">
    Feedback
  </a>
</div>